.counter_container {
  height: 270px;
  width: 450px;
  padding: 2rem;
  display: flex;
  border: 1px solid rgb(85, 80, 80);
  border-radius: 10px;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  color: #000;

  .buttons {
    display: flex;
  }

  .reset_btn {
    padding: 0.5rem 0.8rem;
    margin: 10px;
    font-size: 16px;
    border: none;
    background-color: #94936a;
    color: #fff;
    cursor: pointer;
  }
}
